@font-face {
  font-family: montage;
  src: url(Montage_Font/Montage-Demo.ttf);
}
@font-face {
  font-family: randolph;
  src: url(randolph-unique-sans-serif-font/Randolph/RANDOLPH.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}

/* nav sec */
.header {
  width: 100%;
  height: 48px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-block-end: 15px 0;
  background: #38bea6;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.72);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  font-family: randolph;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
.header .logo h2 {
  color: rgb(0, 0, 0);
  padding: 0 10px;
}
.header .nav ul {
  display: flex;
  flex-direction: row;
}
.header .nav ul li a {
  padding: 7px 15px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: montage;
  position: relative;
}
.header .nav ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 10%;
  background: rgb(0, 0, 0);
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
.header .nav ul li a::before {
  transform: scale(0);
}
.header .nav ul li a:hover::before {
  transform: scale(1);
}
.header .admin {
  padding: 0 10px;
}
.header .admin a {
  padding: 10px 15px;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  font-size: 18px;
  font-family: randolph;
  color: beige;
}
.header .admin a:hover {
  background: rgb(255, 255, 255);
  color: black;
}
.header .admin a:active {
  background: #555;
}
.header input {
  display: none;
}
.nav-toggler {
  border-radius: 4px;
  cursor: pointer;
  border: none;
  display: none;
  margin-right: 15px;
}
.nav-toggler:focus {
  outline: none;
}
.nav-toggler span {
  height: 3px;
  width: 34px;
  background: #000000;
  display: block;
  margin: auto;
  position: relative;
  transition: all 0.3s ease;
}
.nav-toggler.active span {
  background: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  transition: all 0.3s ease;
}
.nav-toggler span::before {
  transform: translateY(-8px);
}
.nav-toggler.active span::before {
  transform: rotate(45deg);
}
.nav-toggler span::after {
  transform: translateY(8px);
}
.nav-toggler.active span::after {
  transform: rotate(135deg);
}
/* end nav sec */

/* home sec */
.home {
  padding: 60px 0;
  width: 100%;
  background: linear-gradient(to right, #acb6e5, #86fde8);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.home .welcome {
  padding: 20px;
  flex: 1 1 400px;
}
.home .welcome h1 {
  font-family: randolph;
  /* width: 700px; */
  font-size: 40px;
  padding: 0 10px 10px 10px;
}
.home .welcome p {
  font-size: 22px;
  word-spacing: 1px;
  font-family: montage;
  padding: 14px 0;
}
.home .img {
  flex: 1 1 550px;
  margin: 10px 20px;
  border-radius: 6px;
  overflow: hidden;
}
.home .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.home .welcome .search {
  display: flex;
  flex-direction: row;
}
.home .welcome .search input {
  width: 350px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  padding: 0 6px;
  margin: 30px 0;
  z-index: 2;
}
.home .welcome .search i{
  font-size: 35px;
  padding: 6px;
  z-index: 1;
  position: relative;
  left: -2px;
  margin: 30px 0;
  background: #000000;
  color: aqua;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
.home .welcome .search i:hover{
  background: aqua;
  color: black;
}
/* end home sec */

/* service sec */
.service {
  padding: 45px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.service .serve {
  flex: 1 1 380px;
  height: 200px;
  padding: 15px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin: 15px;
}
.service .serve span {
  width: fit-content;
  padding: 10px;
}
.service .serve span i{
  font-size: 35px;
  padding: 5px;
}
.service .serve span .bx-home{
  color: rgb(38, 38, 248);
}
.service .serve span .bx-building-house{
  color: rgb(38, 248, 66);
}
.service .serve span .bx-brain{
  color: rgb(248, 38, 38);
}
.service .serve h3 {
  font-family: randolph;
  font-size: 24px;
  color: #0d7764;
  padding: 14px 0;
}
.service .serve p {
  font-family: montage;
  font-size: 20px;
  padding: 6px;
  word-spacing: 1px;
}
/* end service sec */

/* property sec */
.property{
  padding: 50px 0;
  width: 100%;
  background: #acb6e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.property .head h1{
  font-family: randolph;
  font-size: 40px;
  padding: 7px;
}
.property .houses{
  display: flex;
  flex-direction: row;
}
.property .houses .house{
  background: whitesmoke;
  margin: 10px;
  flex: 1 1 380px;
  /* height: 350px; */
  padding: 7px;
  border-radius: 6px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}
.property .houses .house .img{
  height: 200px;
  overflow: hidden;
  border-radius: 6px;
}
.property .houses .house .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* end property sec */

@media (max-width: 1070px) {
  .home {
    flex-wrap: wrap;
  }
  .service {
    flex-wrap: wrap;
  }
  .nav-toggler {
    display: block;
    margin: 0 10px;
  }
  .header .nav {
    position: absolute;
    top: 48px;
    background: #38bea6;
    width: 100%;
    height: 40vh;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .header .nav.open {
    visibility: visible;
  }
  .header .nav ul {
    display: flex;
    flex-direction: column;
    border-top: 2px solid black;
    padding: 4px 15px;
    margin-top: 12px;
  }
  .header .nav ul li {
    display: block;
    margin: 0;
    padding: 10px;
  }
  .header .nav ul li a {
    /* padding: 10px; */
    font-size: 25px;
  }
  .header .logo {
    margin: auto;
  }
  .header .admin {
    padding: 0 10px;
  }
  .header .admin a {
    font-size: 14px;
    padding: 8px 12px;
  }
}
@media (max-width: 920px) {
  .home .large .img {
    width: 700px;
  }
  .home .small .img {
    width: 600px;
  }
  .home .large h1 {
    /* width: 450px; */
    font-size: 30px;
  }
}
@media (max-width: 450px) {
  .header .logo h2 {
    font-size: 22px;
  }
  .home .large .img {
    width: 330px;
  }
  .home .small .img {
    width: 330px;
  }
}
